.review {
	width: 400px;
	min-height: 200px;
	padding: 25px;
	border: 1px solid var(--secondary-color);
	border-radius: 3px;
	.top {
		display: flex;
		justify-content: space-between;
        margin-bottom: 10px;
        p{
            font-weight: 500;
        }
        img{
            border-radius: 100%;
        }
	}
}
